/* CSS RESET */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* UTILS */
.bg-lightblue{
    background-color: #8EDAFB;

}

.c-lightblue{
    color:#8EDAFB ;
}

.small-text{
    font-size: 0.8rem;
}

p{
    margin-bottom: 0;
}

/* GENERICS */
#root{
    height: 100vh;
    background-image: linear-gradient(to bottom, #009689 15%,#DBDBD3 15%, #DBDBD3 100%);
}

.main-container{
    width: 1400px;
    height: calc(100% - 50px);
}

.upper-sidebar{
    height: 200px;
    width: 100%;
    background-color: #EAEAEA;
}
.bottom-sidebar{
    height: calc(100% - 200px);
    width: 100%;
    overflow: auto;
    background-color: white;
} 

img{
    width: 50px;
    border-radius: 50%;
}

#sidebar-header{
    height: 70px;
}

/* MAIN */
#main-header{
    height: 70px;
    width: 100%;
    background-color: #EAEAEA;
}

.message-tools{
    height: 70px;
    width: 100%;
    background-color: #F3EEE9;
}

.message-area{
    height: calc(100% - 140px);
    width: 100%;
    overflow: auto;
    background-image: url('../img/mine.jpg')
}

.message-container.send{
    width: 200px;
    padding-left: 15px;
    background-color: white;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
    margin-top: 20px;
}

.message-container.received{
    width: 200px;
    background-color: #D5F9BA;
    padding-left: 15px;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 50px;
    margin-top: 20px;

}

/* SIDEBAR */
.contacts-list li{
    border-bottom: 1px solid #EAEAEA;
    cursor: pointer;

}