<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <link rel="icon" href="https://img.freepik.com/premium-vector/whatsapp-icon-concept_23-2147897840.jpg">
    <!--FONTAWESOME-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--VUE js-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!--JS-->
    <script src="js/data.js"></script>
    <script defer src="js/script.js"></script>
    <!--BOOTSTRAP-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!--STYLE-->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="root" class="d-flex justify-content-center align-items-center">
        <!--MAIN CONTAINER-->
        <div class="main-container d-flex">
            <div class="row w-100 h-100">
            
                <!--LEFT CONTENT-->
                <nav class="sidebar col-4 h-100 p-0">
                    <!--UPPER SIDEBAR-->
                    <div id="user-tools" class="upper-sidebar">
                        <nav id="sidebar-header" class="d-flex align-items-center justify-content-between">
                            <div class="ms-2 mt-2">
                                <img src="img/avatar_io.jpg" alt="" class="user-img">
                                <span class="ms-1">Nome Utente</span>
                            </div>
                            <div>
                                <!--ICONS LIST-->
                                <ul class="d-flex list-unstyled mb-0 gap-3 me-3">
                                    <li><i class="fa-solid fa-arrows-rotate text-secondary"></i></li>
                                    <li><i class="fa-solid fa-message text-secondary"></i></li>
                                    <li><i class="fa-solid fa-ellipsis-vertical text-secondary"></i></li>
                                </ul>
                            </div>
                        </nav>
                        <!--NOTIFICATIONS-->
                        <nav class="bg-lightblue p-3 d-flex align-items-center">
                            <div>
                                <span><i class="fa-solid fa-bell-slash fa-l bg-white rounded-circle p-3 c-lightblue"></i></span>
                            </div>
                            <div class="ms-2 lh-sm">
                                <span class="small-text">Ricevi notifiche di nuovi messaggi</span>
                                <p class="small-text text-secondary text-decoration-underline">Attiva notifiche desktop</p>
                            </div>
                        </nav>
                        <!--SERACH CHAT-->
                        <nav id="search-chat" class="">
                            <nav class="navbar bg-light">
                                <div class="container-fluid">
                                  <form class="d-flex w-100" role="search">
                                    <input class="form-control me-2" type="search" placeholder="Cerca o inizia una nuova chat">
                                  </form>
                                </div>
                              </nav>
                        </nav>
                    </div>
                    <!--CONTACTS LIST-->
                    <div class="bottom-sidebar">
                        <ul class="contacts-list list-unstyled mt-3">
                            <li v-for="contact in contacts" class="mb-3" :key="contact.id" @click="getActiveId(contact),currentContactMessages" >
                                <img :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.name" class="ms-3 mb-2 bg-secondary">
                                <span class="ms-3">{{contact.name}}</span>
                            </li>
                        </ul>
                    </div>
                </nav>

                <!--MAIN-->
                <main class="col-8 h-100 p-0">
                    <!--RIGHT CONTENT-->
                    <section id="chat" class="h-100">
                        <!--MAIN-HEADER-->
                        <header id="main-header" class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center ms-2">
                                <div>
                                    <img :src="`img/avatar${currentContact.avatar}.jpg`" alt="">
                                </div>
                                <div class="lh-sm ms-3">
                                    <p>{{currentContact.name}}</p>
                                    <p class="text-secondary">Ultimo accesso oggi alle</p>
                                </div>
                            </div>
                            <nav>
                                <ul class="d-flex align-items-center list-unstyled me-3 gap-3 mb-0">
                                    <li><i class="fa-solid fa-magnifying-glass text-secondary"></i></li>
                                    <li><i class="fa-solid fa-paperclip text-secondary"></i></li>
                                    <li><i class="fa-solid fa-ellipsis-vertical text-secondary"></i></li>
                                </ul>
                            </nav>
                        </header>
                        <!--MESSAGE-AREA-->
                        <div class="message-area d-flex flex-column">
                            <div v-for="message in currentContactMessages" :class="{sent: message.status ==='sent', received: message.status ==='received'}" class="message-container send">
                                <p class="">{{message.text}}</p>
                                <p class="text-end me-4 small-text text-secondary"> {{message.date}}</p>
                            </div>                     
                        </div>
                        <!--MESSAGE TOOLS-->
                        <div class="message-tools d-flex align-items-center">
                            <div>
                                <span ><i class="fa-regular fa-face-smile fa-xl mx-4 text-secondary"></i></span>
                            </div>
                            <nav id="search-chat" class="flex-grow-1">
                                <nav class="navbar">
                                    <div class="container-fluid p-0">
                                        <input class="form-control" type="search" placeholder="Scrivi un messaggio" v-model.trim="newMessage" @keyup.enter="addNewMessage(),addTimeOut()">
                                    </div>
                                </nav>
                            </nav>
                            <div>
                                <span ><i class="fa-solid fa-microphone fa-xl mx-4 text-secondary"></i></span>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </div>
</body>
</html>